#fashionphotos {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  gap: 10px;
  justify-content: space-around;
}

.fashion_container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  font-size: larger;
}

.grid {
  margin-left: 10%;
  margin-right: 5%;
}

.requestF {
  font-size: 20px;
}

.requestF a {
  text-decoration: underline;
}

.text {
  text-align: center;
}

.grid-item img {
  display: none;
}

.grid-item img.loaded {
  display: block;
}
@media (max-width: 768px) {
  .banner-text {
    padding-bottom: 50px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .banner-text {
    font-size: 50px !important;
    padding-bottom: 40px; /* Further adjust padding for phones */
  }
}

@media (max-width: 320px) {
  .banner-text {
    padding-bottom: 30px; /* Smaller margin for very small screens */
  }
}
