/* ReviewCarousel CSS */
.review-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.reviews {
  display: flex;

  transition: transform 0.5s ease;
}

.review {
  flex: 0 0 100%; /* Each review takes full width of carousel viewport */
  padding: 30px; /* Add padding for better readability */
  min-width: 100%; /* Ensure each review takes full width */
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}
