/* QuoteForm.css */
.modal {
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: bolder;
}

.inputs {
  padding: 5px;
  margin-bottom: 10px;
}

.modal-content h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"] {
  margin-left: 10px;
}

.category-label {
  text-align: center;
}

.category-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.category-buttons button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.submit-button {
  align-self: center;
}

button {
  padding: 5px 20px;
  border-radius: 0;
  background-color: #f0f0f0;
  color: #333;
  border: none;
  border-bottom: 2px solid black;
  cursor: pointer;
  margin-top: 10px;
}

button:selected {
  background-color: darkgrey;
}

.confirmation-message {
  font-size: 1.2rem;
  margin-top: 10px;
}

button.selected {
  background-color: #999;
}
