.nav-links {
  /* background-color: rgb(171, 170, 170); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  height: 70px;
  margin: 10px;
  border-bottom: 1px black solid;
  font-size: larger;
  max-height: fit-content;
  position: relative;
  z-index: 1000;
}

.link {
  color: black;
  text-decoration: none;
  padding: 70px;
}

.link.active {
  text-decoration: underline;
}

.logo-container {
  margin-right: auto;
}

.logo-link {
  align-items: flex-start;
}

.logo-image {
  width: auto;
  height: auto;
  max-width: 90px;
  max-height: 90px;
}

.right-links {
  display: flex;
  align-items: center; /* Aligns links vertically with logo */
}

img {
  max-width: 100%;
}

.logoutButton {
  font-size: 25px;
}
